.pokedex {
  color: #fff;
  font-size: 18px;
  background-color: #e74c3c;
  font-family: sans-serif;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    padding: 16px;
  }

  .top {
    background-color: #c0392b;
    border-bottom: #fff solid 5px;

    justify-content: space-around;

    label {
      font-size: 22px
    }

    input {
      max-width: 50%;
    }

    margin-bottom: 32px;
  }

  .mid > div {
    padding: 8px;
  }

  .left {
    width: 40%;

    .image {
      border: 5px solid #fff;
      border-radius: 10px;
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background-color: #ddd;


      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
      }
    }
  }

  .right {
    width: 60%;
  }

  .bottom {
    font-size: 8px;
    color: #ddd;
  }

  h1, h2, h3 {
    margin: 0 0 4px;
  }

  h1 {
    text-align: center;
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }
}