<?php
/** @var Breeds $viewModel */
$viewModel = $block->getViewModel();

use Gamma\Dogs\ViewModel\Breeds; ?>

<?php if ($viewModel->requestDataExist()) {
    $dog = $viewModel->getDog();?>
    <h1><?php echo ucfirst($dog->getBreed()); ?></h1>
    <div align="right">
        <button id="back">Back</button>
    </div>


    <img src="<?= $dog->getImage() ?>" alt="Breed Image" align="left">
    <div class="right">
        <div style="float: left; width: 500px;">
            <div align="center">
                Sub-Breads:

                <?php foreach ($dog->getSubbreed() as $key => $value):?>
                    <li> <?= ucfirst($value); ?> </li>
                <?php endforeach; ?>
            </div>
            <br>
            <div align="center">
                Books:
                <br>
                <?php foreach ($dog->getBooks() as $key => $value):?>
                    <li> <?= ucfirst($value); ?> </li>
                <?php endforeach; ?>
            </div>
        </div>
    </div>


<?php }else{ ?>
    <ul>
       <?php foreach ($viewModel->getBreeds() as $key => $value):?>
        <li>
            <a href= "http://itp.gammapartners.com/dogs/breeds/index/breed/<?= $key ?> " ><?= ucfirst($key) ?></a>
        </li>
        <?php endforeach; ?>
    </ul>
<?php } ?>

<script>
    const navigate = () => {
            window.location.assign(`/dogs/breeds/index`);
    };

    document.getElementById('back').onclick = navigate;

</script>
